$veryDarkBlue: hsl(233, 47%, 7%); //(main background)
$darkDesaturatedBlue: hsl(244, 38%, 16%); //(card background)
$softViolet: #aa5cdb; //accent
$softVioletTransparent: #aa5cdbb7; //accent

// ### Neutral

$white : hsl(0, 0%, 100%); //(main heading, stats)
$slightlyTransparentWhite : hsla(0, 0%, 100%, 0.75); //(main paragraph)
$slightlyTransparentWhite2: hsla(0, 0%, 100%, 0.6); //(stat headings)